@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-Regular),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local(Rubik-Medium),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-MediumItalic', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local(Rubik-MediumItalic),
    url('../fonts/Rubik-MediumItalic.woff2') format('woff2'),
    url('../fonts/RRubik-MediumItalic.woff') format('woff');
  font-display: swap;
}