$orange-900: #FF6838;
$silver-200: #ececec;
$silver-100: #f9faff;
$gray: #c2c2c2;
$darkBlue-900: #363853;
$dark: #31352b;
$breakpoints: (
  af5:322px,
  as:390px,
  sm:640px,
  md:768px,
  lg:1024px,
  xl:1280px
);


%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}