$accent: #FF6838;
$default: #31352B;
$title: #363853;

%rubic-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubic-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}