@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 61px 40px 53px 20px;
  line-height: 1;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7px 0;

  }
}

.menu {
  display: flex;

  &__list {
    display: flex;
  }

  &__link {
    margin-right: 44px;
    font-size: 18px;
    color: $dark;
  }

  &__link--active {
    color: $orange-900;
  }

  &__item--margin {
    margin-right: 19px;
  }
}

.bar {
  display: flex;

  &__link {
    position: relative;
  }

  &__img--margin {
    margin-right: 35px;
  }

  &__num {
    position: absolute;
    top: -5px;
    left: 12px;
    width: 14px;
    height: 14px;
    background-color: $orange-900;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
  }
}

.footer {
  &__wrapper {
    display: grid;
    grid-template-columns: 23% 18.9% 13.7% 21.8% 21.9%;
    padding-bottom: 51px;
    border-bottom: 1px solid $gray;
  }

  &__list {
    font-size: 18px;
  }

  &__link {
    color: $dark;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__input {
    display: block;
    padding: 13px 15px;
    margin-bottom: 12px;
    border: 1px solid $gray;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    font-size: 14px;

    &::placeholder {
      color: $gray;
    }
  }

  &__btn {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: none;
    column-gap: 15px;
    padding: 13px 38px 13px 39px;
    border: none;
    border-radius: 5px;
    background-color: $orange-900;
    color: #ffffff;
    font-size: 14px;
  }

  &__part {
    margin-bottom: 15px;
  }


  &__links {
    color: $dark;
    font-size: 16px;
    line-height: 1.7;
  }

  &__items {
    margin-bottom: 15px;
  }

  &__svg {
    margin-right: 7px;
  }

}

.logo__img--margin {
  margin-bottom: 30px;
}


.socials {
  display: flex;

  &__link {
    width: 39px;
    height: 39px;
    background-repeat: no-repeat;
  }

  &__item {
    position: relative;
    background-color: $gray;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    margin-right: 13px;
  }

  &__link {
    position: absolute;
    top: 9px;
    left: 10px;
  }

  &__items {
    position: relative;
    margin-right: 13px;
  }
}

.footer-bottom {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}

.hero {

  &__wrapper {
    display: flex;
  }

  &__content {
    padding: 156px 0 280px 0px;
    max-width: 459px;
    margin-right: 142px;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    line-height: 1.3;
    color: $darkBlue-900;
    margin-bottom: 20px;
    text-transform: uppercase;
    display: block;
  }

  &__subtitle {
    color: $orange-900;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 20px;
  }

  &__btn {
    padding: 12px 32px 12px 32px;
    border: none;
    border-radius: 5px;
    background-color: $orange-900;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    margin-right: 34px;
  }

  &__link {
    line-height: 1.5;
    color: $darkBlue-900;
    text-decoration: underline 1px $darkBlue-900;
  }

  &__img {
    width: 560px;
    height: 660px;

  }
}




@import 'media';