.footer {
  border-bottom: 1px solid $gray;

  &__wrapper {
    display: grid;
    grid-template-columns: 23% 19% 13.7% 21.8% 21.9%;
    padding-bottom: 51px;
    border-bottom: 1px solid $gray;

    @include lg-d {
      grid-template-columns: 25% 20% 28% 27%;
    }

    @include md-d {
      column-gap: 100px;
      row-gap: 30px;
    }

    @include sm-d {
      column-gap: 70px;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
    width: 210px;
  }

  &__icon-frame {
    fill: #ffffff;
  }

  &__list {
    font-size: 18px;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__adress {
    @include md-d {
      grid-row-start: 1;
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }

  &__input {
    display: block;
    padding: 13px 15px;
    margin-bottom: 12px;
    border: 1px solid $gray;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
    font-size: 14px;
    transition: box-shadow 0.5s ease;

    &:focus {
      box-shadow: 0 0 0 2px $orange-900;
      border: transparent;
    }

    &::placeholder {
      color: $gray;
      transition: color 0.5s;
    }

    &:hover::placeholder {
      color: $darkBlue-900;
    }
  }

  &__btn {
    font-weight: 500;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: none;
    column-gap: 15px;
    padding: 13px 38px 13px 39px;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;

    &:hover {
      background-color: #ffffff;
      color: $orange-900 ;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      .footer__icon-frame {
        fill: $orange-900;
      }
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      color: $orange-900;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

      .footer__icon-frame {
        fill: $orange-900;
      }
    }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);
      color: $orange-900;

      .footer__icon-frame {
        fill: $orange-900;
      }
    }
  }

  &__part {
    margin-bottom: 15px;

    @include lg-d {
      grid-column-start: 1;
      grid-column-end: 5;
    }

    @include md-d {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__link {
    text-decoration: none;
    line-height: 1.3;
    outline: transparent;
  }

  &__items {
    margin-bottom: 24px;
    color: black;
    padding-left: 30px;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
  }

  &__items--location {
    background-image: url('../images/sprite.svg#icon-location');
    height: 22px;
  }

  &__items--call {
    background-image: url('../images/sprite.svg#icon-call');
    height: 22px;
  }

  &__items--message {
    background-image: url('../images/sprite.svg#icon-message');
    height: 22px;
  }

  &__contacts {
    color: $dark;
    font-size: 16px;
    font-style: normal;
    outline: transparent;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 0 2px $orange-900;
      border-radius: 5px;
      opacity: 0.8;
    }
  }
}


.socials {
  display: flex;

  &__link {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 21px 21px;
    width: 39px;
    height: 39px;
    transition: all 0.5s;
    outline: transparent;

    &:hover {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    &:active {
      filter: invert(64%) sepia(20%) saturate(6428%) hue-rotate(327deg) brightness(105%) contrast(101%);
    }
  }

  &__item {
    background-color: $gray;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    margin-right: 13px;
    transition: all 1s;
    background-size: 21px 21px;
    transition: all 0.5s;

    &:hover {
      background-color: $orange-900 ;
    }

    &:focus {
      background-color: #FFF2ED;
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      background-color: #FFF2ED;
    }
  }
}

.footer-bottom {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}