.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 60px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 44px;
  }

  &__link {
    font-size: 18px;
    border-radius: 5px;
    outline: transparent;
    line-height: 1;

    &--active {
      color: $orange-900;
    }
  }
}

.logo {
  outline: transparent;
  transition: opacity 0.8s ease, box-shadow 0.8s ease;


  &:hover {
    opacity: 0.7;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-900;
    border-radius: 5px;
  }

  &:active {
    opacity: 0.4;
  }
}


.user-nav {
  display: flex;
  position: relative;

  &__btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border-width: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    width: 44px;
    height: 44px;
    margin-right: 8px;
    outline: transparent;
  }

  &__btn--search:after {
    content: "";
    background-color: $darkBlue-900 ;
    width: 22px;
    height: 22px;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('../images/sprite.svg#search_btn');
  }

  &__btn--search:hover {
    background-color: $orange-900;
  }

  &__btn--cart:hover {
    background-color: $orange-900;

    .user-nav__num {
      color: $orange-900;
      background-color: #ffffff;
    }
  }

  &__btn--search:hover::after,
  &__btn--cart:hover::after {
    background-color: #ffffff;
  }

  &__btn--cart:after {
    content: "";
    background-color: $darkBlue-900 ;
    width: 22px;
    height: 22px;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('../images/sprite.svg#icon-cart');
  }


  &__num {
    position: absolute;
    top: 10px;
    right: 11px;
    width: 14px;
    height: 14px;
    background-color: $orange-900;
    border-radius: 50%;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    color: #ffffff;
  }

}