.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;

  // @include sm-d {
  //   &::before {
  //     content: "";
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 80%;
  //     height: 100%;
  //     background-color: #ccffff;
  //     z-index: 5;
  //     border-bottom: 1px solid #EEEFF3;
  //     transform: translateX(-700px);
  //   }
  // }

  // &--active:before {
  //   @include sm-d {
  //     transform: translateX(-1px);
  //   }
  // }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 58px 0 54px;

    @include lg-d {
      padding: 30px 0 30px;
      justify-content: flex-start;
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
    align-items: center;
    padding-right: 8px;
    z-index: 6;

    @include lg-d {
      padding: 0 150px 0 150px;
    }

    @include md-d {
      padding: 0 50px 0 50px;
    }

    @include sm-d {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 55%;
      height: 100%;
      background-color: #461414;
      padding: 114px 0 0 20px;
      transform: translateX(-800px);
      transition: all 0.3s ease;
    }

    &--active {
      transform: translateX(0px);
    }

  }

  &__item {
    margin-right: 44px;

    @include sm-d {
      margin-bottom: 20px;
    }
  }

  &__link {
    font-size: 18px;
    border-radius: 5px;
    outline: transparent;

    &--active {
      color: $orange-900;
    }
  }
}

.logo {
  outline: transparent;
  transition: opacity 0.8s ease, box-shadow 0.8s ease;

  @include md-d {
    z-index: 50;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    box-shadow: 0 0 0 2px $orange-900;
    border-radius: 5px;
  }

  &:active {
    opacity: 0.4;
  }
}


.user-nav {
  display: flex;
  position: relative;
  transition: all 0.3s;
  z-index: 4;

  // @include md-d {
  //   position: absolute;
  //   top: 30px;
  //   right: 30px;

  // }

  // @include sm-d {
  //   display: block;
  // }

  &__item {

    display: inline-block;
    position: relative;
    border-radius: 5px;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: $orange-900;

      .user-nav__num {
        color: $orange-900;
        background-color: white;
      }

      .button--img:after {
        background-color: #ffffff;
      }

      .user-nav__btn--cart:after {
        background-color: #ffffff;
      }

      .user-nav__btn--search:after {
        background-color: #ffffff;
      }
    }

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);

      .user-nav__num {
        color: #ffffff;
        background-color: $orange-900;
      }

      .button--img:after {
        background-color: rgba(255, 122, 80, 0.1);
      }

      .user-nav__btn--cart:after {
        background-color: $darkBlue-900;
      }

      .user-nav__btn--search:after {
        background-color: $darkBlue-900;
      }
    }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);

      .user-nav__num {
        color: #ffffff;
        background-color: $orange-900;
      }

      .button--img:after {
        background-color: rgba(255, 122, 80, 0.1);

      }

      .user-nav__btn--cart:after {
        background-color: $darkBlue-900;
      }

      .user-nav__btn--search:after {
        background-color: $darkBlue-900;
      }
    }
  }

  &__btn {
    position: relative;
    display: block;
    background-color: transparent;
    padding: 0;
    outline: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &__btn--search:after {
    content: "";
    display: block;
    position: absolute;
    left: -9px;
    top: 14px;
    width: 22px;
    height: 22px;
    mask-image: url('../images/sprite.svg#icon-search');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: #000000;
    z-index: 19;
    transform: translate(20px, -4px);
  }


  &__btn--cart:after {
    content: "";
    display: block;
    position: absolute;
    left: -11px;
    top: 14px;
    width: 22px;
    height: 22px;
    mask-image: url('../images/sprite.svg#icon-cart');
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    background-color: #000000;
    z-index: 19;
    transform: translate(20px, -4px);
  }


  &__num {
    display: block;
    position: absolute;
    background-color: $orange-900;
    font-size: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    top: 4px;
    left: 24px;
    z-index: 1;
    color: #ffffff;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
}



.burger {
  display: none;
  position: relative;
  z-index: 6;

  @include sm-d {
    display: block;
    width: 30px;
    height: 20px;
    top: 11px;
    right: -15px;



    &::before,
    &::after {
      content: "";
      background-color: #000000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }


  &__span {
    position: absolute;
    background-color: #000000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
}