.restaurants {
  &__title {
    margin-bottom: 45px;
    transform: translateX(-15px);

    @include as-d {
      font-size: 24px;
      transform: translateX(0);
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    padding-left: 20px;
    font-weight: 400;
    margin-bottom: 20px;

    @include sm-d {
      padding-left: 0;
    }

    @include as-d {
      padding-left: 20px;
    }
  }

  &__inner {
    transform: translateX(-6px);
    padding-bottom: 120px;

    @include lg-d {
      padding-bottom: 70px;
      transform: translateX(0);
    }

    @include md-d {
      padding-bottom: 50px;
      transform: translateX(0);
    }

    @include as-d {
      transform: translateX(0);
      padding-bottom: 40px;
    }

  }

  &__names {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include lg-d {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-d {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm-d {
      grid-template-columns: 1fr;
      text-align: center;
    }

    @include as-d {
      grid-template-columns: repeat(1, 1fr);
      text-align: left;
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li.slick-active {
        background-color: $orange-900;
      }

      li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $gray;
        outline: transparent;
      }

      li:not(:last-child) {
        margin-right: 15px;
      }

      button {
        border: 0;
        font-size: 0;
        padding: 0;
      }
    }
  }

  &__img {
    margin-bottom: 15px;

    @include lg-d {
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      width: 456px;
    }

    @include as-d {
      height: 300px;
      width: 345px;
      width: 100%;
    }
  }

  &__item {
    display: block;
    padding-bottom: 11px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.5s;

    @include sm-d {
      max-width: 460px;
      // width: 100%;
    }

    &:hover {
      box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }
  }


  &__text {
    padding-left: 50px;
    margin-right: 101px;
    font-weight: 300;
    opacity: 0.9;
    line-height: 1.7;
    font-size: 18px;
    display: inline-block;
    transform: translateY(-13px);

    @include xl-d {
      margin-right: 54px;
    }

    @include lg-d {
      margin-right: 86px;
    }

    @include af5-d {
      margin-right: 30px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 18px;
      top: 4px;
      mask-image: url('../images/sprite.svg#icon-time');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      opacity: 0.9;
      width: 22px;
      height: 22px;
      background-color: #000000;
    }
  }

  &__link {
    display: inline-block;
    width: 79px;
    height: 33px;
    background-color: $orange-900;
    position: relative;
    border-radius: 20px;
    outline: transparent;
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: #ffffff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0 0 0 2px rgb(255 104 56 / 70%);

      &::before {
        background-color: $orange-900 ;
        transform: translateX(15px);
      }
    }

    &:focus {
      transform: translatex(10px);
      background-color: #ffffff;
      box-shadow: 0 0 0 3px $orange-900;

      &:before {
        background-color: $orange-900;
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 34px;
      top: 11px;
      mask-image: url('../images/sprite.svg#icon-arrow-right');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      width: 13px;
      height: 13px;
      background-color: #ffffff;
      transition: all 0.5s ease;
    }
  }
}


.section {
  padding: 100px 0;
}

.wrapper {
  display: flex;
  display: inline-block;
  position: relative;
  border-radius: 5px;

  &:hover {
    background-color: $orange-900;

    .span {
      color: $orange-900;
      background-color: #ffffff;
    }

    .button--img:after {
      background-color: #ffffff;
    }
  }
}