.review {
  &__title {
    @include as-d {
      font-size: 24px;
    }
  }

  &__wrapper {
    padding: 7px 0 123px;

    @include md-d {
      padding-bottom: 50px;
    }

    @include sm-d {
      padding: 30px 0 0;
    }
  }

  &__foto {
    border-radius: 50%;
    margin-right: 40px;

    @include sm-d {
      width: 100px;
      height: 100px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-right: 0;
    }
  }

  &__inner {
    display: block;
    display: flex !important;
    justify-content: center;

    @include sm-d {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 650px;
    padding: 30px 44px 30px 31px;

    @include lg-d {
      padding: 15px 30px 15px 15px;
    }

    @include sm-d {
      padding: 28px 52px 29px 40px;
    }
  }

  &__quote {
    position: relative;
    line-height: 1.5;
    font-style: italic;

    @include lg-d {
      font-size: 18px;
    }

    @include md-d {
      font-size: 16px;
    }

    @include sm-d {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &:before {
      content: "";
      left: -41px;
      width: 26px;
      height: 26px;
      position: absolute;
      mask-image: url('../images/sprite.svg#icon-quote-open');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: #C2C2C2;

      @include sm-d {
        width: 24px;
        height: 24px;
        left: -35px;
        top: -12px;
      }
    }

    &:after {
      content: "";
      right: -37px;
      bottom: -4px;
      width: 26px;
      height: 26px;
      position: absolute;
      mask-image: url('../images/sprite.svg#icon-quote-close');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: #C2C2C2;

      @include lg-d {
        right: 20px;
      }

      @include md-d {
        width: 24px;
        height: 24px;
        right: 15px;
        bottom: 0;
      }

      @include as-d {
        right: -35px;
        bottom: 10px;
      }
    }
  }

  &__name {
    padding: 30px 0 15px;
    font-weight: 500;
    color: $orange-900;

    @include lg-d {
      padding: 10px 0 12px;
    }

    @include sm-d {
      font-size: 16px;
    }
  }

  &__text {
    padding-bottom: 20px;
    font-size: 14px;

    @include md-d {
      padding-bottom: 10px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    transform: translateX(-8px);

    @include xl-d {
      position: relative;
    }

    li {
      width: 15px;
      height: 15px;
      background-color: $gray;
      border-radius: 50%;
      outline: transparent;

      &.slick-active {
        background-color: $orange-900;
        border-radius: 50%;
      }

      &:not(:last-child) {
        margin-right: 15px;
      }

      button {
        padding: 0;
        font-size: 0;
        border: none;
      }
    }
  }

  .slick-slider {
    @include sm-d {
      position: relative;
    }

    .slick-arrow {

      @include sm-d {
        position: absolute;
        top: 61px;
        width: 36px;
        height: 36px;
      }

    }
  }

  .slick-arrow {
    background-color: transparent;
    border: 3px solid $gray;
    outline: transparent;
    border-radius: 50%;
    font-size: 0cm;
    width: 40px;
    height: 40px;
  }

  .slick-prev {
    top: 386px;
    left: 465px;
    position: relative;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: #FFF2ED;
      border: 3px solid #FFAE94;

      &::before {
        background-color: #FFAE94;
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      background-color: #FFF2ED;
      border: transparent;


      &::before {
        background-color: #FFAE94;
      }
    }

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      mask-image: url('../images/sprite.svg#icon-left');
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: $gray;
      left: 3px;
      top: 4px;
      z-index: -1;

      @include sm-d {
        width: 18px;
        height: 18px;
        left: 6px;
        top: 6px;
      }
    }

    @include xl-d {
      left: 235px;
    }

    @include md-d {
      transform: translateX(-800px);
      overflow: hidden;
    }

    @include sm-d {
      transform: translateX(0);
      left: 37px;
    }
  }

  .slick-next {
    top: 28px;
    left: 650px;
    position: relative;
    cursor: pointer;
    z-index: 1;

    @include xl-d {
      left: auto;
      right: 280px;
      position: absolute;
      top: 394px;
    }

    @include lg-d {
      left: auto;
      right: 250px;
      position: absolute;
      top: 394px;
    }

    @include md-d {
      transform: translateX(-800px);
      overflow: hidden;
    }

    @include sm-d {
      transform: translateX(0);
      right: 51px;
    }

    @include as-d {
      right: 37px;
    }

    &:hover {
      background-color: #FFF2ED;
      border: 3px solid #FFAE94;

      &::before {
        background-color: #FFAE94;
      }
    }

    &:focus {
      box-shadow: 0px 0px 0px 2px rgba(255, 104, 56, 0.7);
    }

    &:active {
      background-color: #FFF2ED;
      border: transparent;


      &::before {
        background-color: #FFAE94;
      }
    }

    &::before {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      mask-image: url('../images/sprite.svg#icon-right');
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: $gray;
      left: 5px;
      top: 4px;
      z-index: -1;

      @include sm-d {
        width: 18px;
        height: 18px;
        left: 6px;
        top: 6px;
      }
    }
  }


}