.stay {

  &__inner {
    padding: 120px 70px 147px;
    background-size: 440px 585px;
    background-repeat: no-repeat;
    background-position: 62px 92px;
  }

  &__content {
    padding: 30px 0;
    width: 477px;
    margin-left: auto;
  }

  &__title {
    display: block;
    text-align: left;
  }

  &__subtitle {
    display: block;
    margin-bottom: 30px;
    text-align: left;
  }

  &__text {
    line-height: 1.5;
    margin-bottom: 30px;
    max-width: 450px;
  }

  &__benefit {
    margin-bottom: 30px;
  }

  &__item {
    display: block;
    font-size: 24px;
    line-height: 1.5;
    color: $darkBlue-900;
    padding-left: 64px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__svg {
    position: absolute;
    width: 34px;
    height: 34px;

    &--timer {
      position: absolute;
      fill: $orange-900;
    }

    &--delivery {
      fill: #00AAFF;
    }

    &--restorant {
      fill: #FF2222;
    }
  }

  &__btn {
    padding: 12px 32px;
    font-size: 18px;
  }
}