<section class="top">
  <div class="top__container">
    <div class="container">
      <div class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Главная
            </a>
          </li>
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" href="#">
              Каталог товаров
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>