<section class="catalog">
  <div class="container">
    <div class="catalog__wrapper">
      <div class="catalog__sort">
        <h2 class="catalog__title title">Каталог продуктов</h2>
        <div class="catalor__numbers"></div>
      </div>
      <div class="content">
        <div class="filters">
          <div class="filters-categories filters__items">
            <div class="filters-categories__wrapper">
              <h3 class="filters-categories__title filters__title">Категории</h3>
            </div>
            <form class="filters-categories__form" action="#">
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox filters-categories__checkbox--active">Бургеры</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Пицца</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Сендвичи</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Азиатская кухня</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Сеты</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Европейская кухня</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Напитки</span>
              </label>
              <label class="filters-categories__label">
                <input class="filters-categories__input" type="checkbox">
                <span class="filters-categories__checkbox">Алкоголь</span>
              </label>
            </form>
          </div>
          <div class="filters-suggestion filters__items ">
            <div class="filters-suggestion__wrapper">
              <h3 class="filters-suggestion__title filters__title">Предложения</h3>
            </div>
            <form class="filters-suggestion__form" action="#">
              <label class="filters-suggestion__label">
                <input type="checkbox" class="filters-suggestion__input">
                <span class="filters-suggestion__mark"></span>
                <span class="filters-suggestion__checkbox filters-suggestion__checkbox--active">Cо скидкой</span>
              </label>
              <label class="filters-suggestion__label">
                <input type="checkbox" class="filters-suggestion__input">
                <span class="filters-suggestion__mark"></span>
                <span class="filters-suggestion__checkbox">Новинка</span>
              </label>
              <label class="filters-suggestion__label">
                <input type="checkbox" class="filters-suggestion__input">
                <span class="filters-suggestion__mark"></span>
                <span class="filters-suggestion__checkbox">Хит</span>
              </label>
            </form>

          </div>
        </div>
        <div class="food"></div>

      </div>
    </div>
  </div>
</section>