<header class="header">
  <div class="container">
    <div class="header__wrapper" id="main">
      <div class="header__tablet"></div>
      <a class="logo" href="#">
        <img class="logo__img" src="images/simplefood.svg" alt="логотип Симпл фут" width="200" height="39">
      </a>

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link link menu__link--active" href="#">
              Главная
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#dish">
              Блюда
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link" href="#contacts">
              Контакты
            </a>
          </li>
        </ul>
        <div class="user-nav">
          <div class="user-nav__item">
            <button class="user-nav__btn user-nav__btn--search" type="button"></button>
            <span class="sr-only">Найти на сайте</span>
          </div>
          <div class="user-nav__item">
            <button class="user-nav__btn user-nav__btn--cart" type="button">
              <span class="user-nav__num">4</span>
            </button>
            <span class="sr-only">Перейти в корзину</span>
          </div>
        </div>
        <!-- <div class="burger">
          <span class="burger__span"></span>
        </div> -->
        <div class="side_menu">
          <div class="burger_box">
            <div class="menu-icon-container">
              <a href="#" class="menu-icon js-menu_toggle opened">
                <span class="menu-icon_box">
                  <span class="menu-icon_line menu-icon_line--1"></span>
                  <span class="menu-icon_line menu-icon_line--2"></span>
                  <span class="menu-icon_line menu-icon_line--3"></span>
                </span>
              </a>
            </div>
          </div>

          <div class="burger_box" style="position: fixed; top: 50px; left: 300px;">
            <a href="#" class="menu-icon js-menu_toggle burger">
              <span class="menu-icon_lines">
                <span class="menu-icon_line menu-icon_line--1"></span>
                <span class="menu-icon_line menu-icon_line--2"></span>
                <span class="menu-icon_line menu-icon_line--3"></span>
              </span>
            </a>
          </div>


        </div>
      </nav>
    </div>
  </div>
</header>