<section class="hero">
  <h1 class="sr-only">Самая быстрая доставка еды в городе</h1>
  <div class="container">
    <div class="hero__wrapper" style="background-image: url(../images/guy.png)">
      <div class="hero__content">
        <h2 class="hero__title">
          Доставка
          <span class="hero__subtitle">за 15 минут</span>
        </h2>
        <div class="hero__text">
          <p>
            Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
          </p>
        </div>
        <button class="hero__btn btn-style" type="button">
          Заказать
          <span class="sr-only">
            Заказать доставку
          </span>
        </button>
        <a class="hero__link link" href="#">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</section>