<section class="load">
  <div class="container">
    <div class="load__inner">
      <div class="load__content">
        <h2 class="load__title title">Скачайте мобильное приложение</h2>
        <p class="load__text">Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте
          еду в любом удобном месте.</p>
        <a href="#" class="load__link  load__link--app">
          <span class="sr-only">Скачать приложение на Айфон</span>
        </a>
        <a href="#" class="load__link  load__link--google"><span class="sr-only">Скачать приложение на
            Андроид</span></a>
      </div>
      <img src="images/app.jpg" alt="фото с приложением" width="570" height="380">
    </div>
  </div>
</section>