<section class="popular">
  <div class="container">
    <div class="popular__wrapper" id="dish">
      <h2 class="popular__title title">Популярные категории</h2>
      <ul class="popular__assortment">
        <li class="popular__item">
          <button class="popular__btn btn" data-filter=".category-a" type="button">
            <svg class="popular__svg" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-category-burger"></use>
            </svg>
            <h3 class="popular__items">Бургеры</h3>
          </button>
        </li>
        <li class="popular__item">
          <button class="popular__btn btn" data-filter=".category-b" type="button">
            <svg class="popular__svg" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-category-pizza"></use>
            </svg>
            <h3 class="popular__items">Пицца</h3>
          </button>
        </li>
        <li class="popular__item">
          <button class="popular__btn btn" type="button" data-filter=".category-c">
            <svg class="popular__svg" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-category-sandvich"></use>
            </svg>
            <h3 class="popular__items">Сендвичи</h3>
          </button>
        </li>
        <li class="popular__item">
          <button class="popular__btn btn" type="button" data-filter=".category-d">
            <svg class="popular__svg" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-category-asia"></use>
            </svg>
            <h3 class="popular__items">Азиатская кухня</h3>
          </button>
        </li>
        <li class="popular__item">
          <button class="popular__btn btn" type="button" data-filter=".category-e">
            <svg class="popular__svg" width="44" height="44">
              <use xlink:href="images/sprite.svg#icon-category-dish"></use>
            </svg>
            <h3 class="popular__items">Сеты</h3>
          </button>
        </li>
      </ul>
      <ul class="product">
        <li class="product__link">
          <article class="product__card mix category-a" data-order="1">
            <img class="product__img" src="images/products/cheese.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
            <h3 class="product__name product__name--margin">Чизбургер с листьями салата</h3>
            <span class="product__price">160 грн.</span>
            <button class="product__btn btn" type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-a">
            <img class="product__img" src="images/products/beaf.jpg" alt="бифбургер" width="140" height="140">
            <h3 class="product__name">Бифбургер</h3>
            <span class="product__price">190 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-b" data-order=" 2 ">
            <img class="product__img" src="images/products/king.jpg" alt="королевский гамбургер" width="140"
              height="140">
            <h3 class="product__name">Королевский чизбургер</h3>
            <span class="product__price">260 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-b">
            <img class="product__img" src="images/products/black.jpg" alt="черный гамбургер" width="140" height="140">
            <h3 class="product__name">Черный гамбургер</h3>
            <span class="product__price">199 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-c">
            <img class="product__img" src="images/products/chiken.jpg" alt="чикен бургер" width="140" height="140">
            <h3 class="product__name">Чикен бургер</h3>
            <span class="product__price">180 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-d">
            <img class="product__img" src="images/products/cheese.jpg" alt="Чизбургер с листьями салата" width="140"
              height="140">
            <h3 class="product__name product__name--margin">Чизбургер с листьями салата</h3>
            <span class="product__price">160 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-d">
            <img class="product__img" src="images/products/beaf.jpg" alt="бифбургер" width="140" height="140">
            <h3 class="product__name">Бифбургер</h3>
            <span class="product__price">190 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-e">
            <img class="product__img" src="images/products/king.jpg" alt="королевский гамбургер" width="140"
              height="140">
            <h3 class="product__name">Королевский чизбургер</h3>
            <span class="product__price">260 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-e">
            <img class="product__img" src="images/products/black.jpg" alt="черный гамбургер" width="140" height="140">
            </a>
            <h3 class="product__name">Черный гамбургер</h3>
            <span class="product__price">199 грн.</span>
            <button class="product__btn btn " type="button">В корзину
            </button>
          </article>
        </li>
        <li class="product__link">
          <article class="product__card mix category-e">
            <img class="product__img" src="images/products/chiken.jpg" alt="чикен бургер" width="140" height="140">
            <h3 class="product__name">Чикен бургер</h3>
            <span class="product__price">180 грн.</span>
            <button class="product__ btn " type="button">В корзину
            </button>
          </article>
        </li>
      </ul>
      <button class="product__load" type="button">
        Показать еще
      </button>
    </div>
  </div>
</section>