<section class="restaurants">
  <div class="container">
    <h2 class="restaurants__title title">Лучшие рестораны</h2>
    <div class="restaurants__inner">
      <ul class="restaurants__names">
        <li class="restaurants__item">
          <img class="restaurants__img" src="images/restaurants/blaze.png" alt="ресторан блейз">
          <h3 class="restaurants__subtitle">Blaze Pizza</h3>
          <p class="restaurants__text   ">11:00 - 22:00</p>
          <a class="restaurants__link" href="https://m.facebook.com/BlazePizza/?locale=ru_RU">
            <span class="sr-only">Перейти на сайт Блейз Пица</span>
          </a>
          <span class="restaurants_icon" style="background-image: url(images/sprite.svg#icon-arrow-right) "></span>
        </li>
        <li class="restaurants__item">
          <img class="restaurants__img" src="images/restaurants/rancho.png" alt="ресторан блейз">
          <h3 class="restaurants__subtitle">Pizza Runcho</h3>
          <p class="restaurants__text">12:00 - 21:00</p>
          <a class="restaurants__link" href="https://m.facebook.com/BlazePizza/?locale=ru_RU"><span
              class="sr-only">Перейти на сайт Пицца Ранчо</span></a>
          <span class="restaurants_icon" style="background-image: url(images/sprite.svg#icon-arrow-right) "></span>
        </li>
        <li class="restaurants__item">
          <img class="restaurants__img" src="images/restaurants/hut.png" alt="ресторан блейз">
          <h3 class="restaurants__subtitle">Pizza Hut</h3>
          <p class="restaurants__text">11:00 - 22:00</p>
          <a class="restaurants__link" href="https://m.facebook.com/BlazePizza/?locale=ru_RU">
            <span class="sr-only">Перейти на сайт Пица Хат</span>
          </a>
          <span class="restaurants_icon" style="background-image: url(images/sprite.svg#icon-arrow-right) "></span>
        </li>
        <li class="restaurants__item">
          <img class="restaurants__img" src="images/restaurants/mac.png" alt="ресторан блейз">
          <h3 class="restaurants__subtitle">McDonald`s</h3>
          <p class="restaurants__text">06:00 - 23:00</p>
          <a class="restaurants__link" href="https://m.facebook.com/BlazePizza/?locale=ru_RU">
            <span class="sr-only">Перейти на сайт Макдональдс</span>
          </a>
          <span class="restaurants_icon" style="background-image: url(images/sprite.svg#icon-arrow-right) "></span>
        </li>
        <li class="restaurants__item">
          <img class="restaurants__img" src="images/restaurants/kfc.png" alt="ресторан блейз">
          <h3 class="restaurants__subtitle">KFC</h3>
          <p class="restaurants__text">06:00 - 23:30</p>
          <a class="restaurants__link" href="https://m.facebook.com/BlazePizza/?locale=ru_RU">
            <span class="sr-only">Перейти на сайт Кей Эф Си</span>
          </a>
          <span class="restaurants_icon" style="background-image: url(images/sprite.svg#icon-arrow-right) "></span>
        </li>
        <li class="restaurants__item">
          <img class="restaurants__img" src="images/restaurants/star_burger.png" alt="ресторан блейз">
          <h3 class="restaurants__subtitle">Star Burgers</h3>
          <p class="restaurants__text">09:00 - 21:00</p>
          <a class="restaurants__link" href="https://m.facebook.com/BlazePizza/?locale=ru_RU">
            <span class="sr-only">Перейти на сайт Ствр Бургер</span>
          </a>
          <span class="restaurants_icon" style="background-image: url(images/sprite.svg#icon-arrow-right) "></span>
        </li>
      </ul>
    </div>
  </div>
</section>