<section class="review">
  <div class="container">
    <h2 class="review__title title ">Отзывы клиентов</h2>
    <div class="review__wrapper">
      <figure class="review__inner">
        <img class="review__foto" src="images/girl.png" alt="фотография клиента" width="300" height="300">
        <div class="review__content">
          <blockquote class="review__quote">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их
            доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
            однозначно
            рекомендую!
          </blockquote>
          <figcaption class="review__name">
            Дарья
          </figcaption>
          <p class="review__text">Ценитель вкусной еды</p>
        </div>
      </figure>
      <figure class="review__inner">
        <img class="review__foto" src="images/girl.png" alt="фотография клиента" width="300" height="300">
        <div class="review__content">
          <blockquote class="review__quote">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их
            доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
            однозначно
            рекомендую!
          </blockquote>
          <figcaption class="review__name">
            Дарья
          </figcaption>
          <p class="review__text">Ценитель вкусной еды</p>
        </div>
      </figure>
      <figure class="review__inner">
        <img class="review__foto" src="images/girl.png" alt="фотография клиента" width="300" height="300">
        <div class="review__content">
          <blockquote class="review__quote">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их
            доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
            однозначно
            рекомендую!
          </blockquote>
          <figcaption class="review__name">
            Дарья
          </figcaption>
          <p class="review__text">Ценитель вкусной еды</p>
        </div>
      </figure>
      <figure class="review__inner">
        <img class="review__foto" src="images/girl.png" alt="фотография клиента" width="300" height="300">
        <div class="review__content">
          <blockquote class="review__quote">
            SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе. Очень удобный сайт и
            приложение. Их
            доставщики очень вежливы и пунктуальны. Компания часто проводит акции и дарит скидки на доставку -
            однозначно
            рекомендую!
          </blockquote>
          <figcaption class="review__name">
            Дарья
          </figcaption>
          <p class="review__text">Ценитель вкусной еды</p>
        </div>
      </figure>
    </div>
  </div>
</section>