.catalog {
  &__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
}

.filters {
  &__items {
    width: 270px;
    margin-bottom: 30px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
  }

  &__title {
    padding: 15px 0 15px 15px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $darkBlue-900;
  }
}

.filters-categories {

  &__wrapper {
    border-bottom: 1px solid #ECECEC;
  }

  &__form {
    padding: 25px 0 25px 15px;
  }

  &__label {
    display: block;
    cursor: pointer;

    &:hover {
      .filters-categories__checkbox {
        color: $orange-900;
      }
    }

    &:focus {
      .filters-categories__checkbox {
        border: 1px solid $orange-900;
        border-radius: 5px;
      }
    }

    &:active {
      .filters-categories__checkbox {
        text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      }
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__input {
    @extend %checkbox-hidden;
  }

  &__checkbox {
    display: inline-block;
    color: $dark;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    &--active {
      color: $orange-900;

    }
  }
}

.filters-suggestion {

  &__wrapper {
    border-bottom: 1px solid #ECECEC;
  }

  &__form {
    padding: 25px 0 25px 15px;
  }

  &__label {
    display: block;
    cursor: pointer;

    &:hover {
      .filters-suggestion__checkbox {
        color: $orange-900;
      }

      .filters-suggestion__mark {
        border: 1px solid $orange-900;
        border-radius: 3px;
      }
    }

    &:focus {
      .filters-suggestion__mark {
        border: 1px solid $orange-900;
        border-radius: 3px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filters-suggestion__mark {
      border: 1px solid $darkBlue-900;
      border-radius: 3px;
      background-image: url('../images/icons/icon-vector.svg');
      background-repeat: no-repeat;
      background-size: 12px 9px;
      background-position: center;

    }
  }

  &__mark {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #ececec;
    border: 1px solid #ececec;

  }

  &__checkbox {
    display: inline-block;
    color: $dark;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    padding-left: 37px;

    &--active {
      color: $orange-900;

    }
  }
}